<h1>You fell in love with:<%= thingVar.toUpperCase() %></h1>
<% if(thingVar.toLowerCase() === "rusty"){ %>
    <p>GOOD CHOISE!</p>
<% } else {%>
    <p>You should have said Rusty.</p>
<% } %>

<p>P.S. This is from love.ejs file.</p>